:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.gridHeader {
  display: inline-grid;
  grid-template-columns: auto auto;
}

.gridBox {
  display: inline-grid;
  grid-template-columns: auto auto auto;
}

.gridHigh {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 2;
}

.inputBox {
  border:#ededed;
  border-style: solid;
  float: left;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
